# Ignorar archivos binarios y de compilación
bin/
obj/
target/
build/
dist/

# Ignorar dependencias
api/node_modules/
.pnp.*
.pnpm/

# Ignorar archivos de configuración del sistema e IDEs
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.suo
*.user
*.vs
*.sln.dotSettings

# Ignorar logs y archivos temporales
logs/
*.log
npm-debug.log*
